.container {
    max-width: 960px;
    margin: auto;
}

.main-title {
    text-align: center;
}

.main-title h1 {
    font-family: "Lobster", "Josefin Sans", Helvetica, Arial, sans-serif;
    font-size: 4em;
}

h2 {
    font-size: 2em;
    margin: 52px 0 40px;
    text-transform: capitalize;
}

.photos {
    max-width: 960px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.photo {
    width: 220px;
    height: 165px;
    overflow: hidden;
    margin-bottom: 15px;
}

.photo img {
    width: 100%;
    transform: scale(1.25);
    transition: transform 1.25s;
}

.photo:hover img {
    transform: scale(1.65);
}